<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block metatitle %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('pokeball.png') }}">
    </head>
    <body>
    <header>
        <section>
            <div>
                <h1 class="pokefont rotate">PoKéMoN</h1>
                <h1><span class="andy rotate2">Attraper-les tous!</span></h1>
            </div>
        </section>
        <nav>

            <ul class="flex">

                <a href="{{ path("home") }}"><li>Accueil</li></a>
                <a href="{{ path("cate") }}"><li>Versions</li></a>
                <a href="{{ path("list_pokemon") }}"><li>Mes PoKéMoNs</li></a>
            </ul>
        </nav>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>{#<audio autoplay controls loop preload src="{{ asset('Pokémon (mp3cut.net).mp3') }}">
        </audio>}#}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
        {% block body %}{% endblock %}

        <footer>
            <p>Copyrights ANDREA LE BIHAN</p>
        </footer>

    </body>
</html>
