{% extends 'base.html.twig' %}

{% block metatitle %}
    Pokemon : Mes pokémons
{% endblock %}


{% block body %}
    <main>
        {% for pokemons in pokemon %}
            <article>

                <a href="{{ path("show_bddpokemon",{idPokemon: pokemons.id }) }}"><h1>{{ pokemons.title }}</h1></a>
                <img src="{{ pokemons.image }}" alt="">
                <p>{{ pokemons.description }}</p>
                <br>
                <h4>type: {{ pokemons.type }}</h4>
            </article>
        {% endfor %}
    </main>
{% endblock %}